:root {
  --bg: #f1f1f1;
  --borders: #f7f7f7;
}

html {
  scroll-behavior: smooth;
}
body {
  color: #1d1f22;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  font-size: 16px;
}
header {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--borders);
}
h1 {
  font-weight: 700;
  font-size: 24px;
}
h2 {
  font-size: 20px;
  font-weight: 700;
}
h3 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 1.5rem;
}
a {
  color: #1d1f22;
}
.navbar_custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
  padding: 0;
}
.navbar_custom p {
  font-size: 16px;
  font-weight: 400;
  color: #1d1f22;
}
figure {
  width: 90px;
}

.social_custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.8rem;
  margin-top: 0.5rem;
}
.social_custom a {
  color: #1d1f22;
  opacity: 0.7;
}
.social_custom a:hover {
  opacity: 1;
}
.left {
  border-right: solid 3px var(--borders);
  padding-right: 3rem;
}
.right {
  padding-left: 3rem;
}
.left,
.right {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.progress {
  height: 6px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.progress::-webkit-progress-bar {
  background-color: var(--borders);
  width: 100%;
}
.progress::-webkit-progress-value {
  background-color: #5c7375 !important;
}

.hr {
  width: 100%;
  border-top: solid 3px var(--borders);
  opacity: 1;
}
.info {
  margin-bottom: 3rem;
}
ul {
  list-style: none;
  padding-left: 0;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.contact-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 8px 8px #1d1f221c;
  box-shadow: 0 8px 8px #1d1f221c;
}
.contact-footer h3 {
  margin-top: 0;
  font-weight: 700;
}
.contact-footer p {
  margin-bottom: 0;
}

@media (max-width: 991px) {
  header {
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
  }
  .navbar_custom {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar_custom p {
    font-size: 16px;
  }
  h1 {
    font-size: 24px;
  }
  .left {
    border-right: 0;
  }
  .left {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .right {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    padding-top: 0;
  }
  .contact-footer {
    right: calc(var(--bs-gutter-x) * 0.5);
    left: calc(var(--bs-gutter-x) * 0.5);
    bottom: calc(var(--bs-gutter-x) * 0.5);
  }
}
